* {
  outline: 1px solid red;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {

  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}


.button-red {
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #efc849;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.header-catalog {
  margin-bottom: 56px;
  /*временно для сетки*/

  min-height: 355px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.main-header-logo {
  width: 160px;
}

.main-header-logo img {
  display: block;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  width: 440px;
  list-style: none;
}

.site-navigation a,
.basket a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: #fb565a;
}

.basket {
  width: 160px;
}

.slider-list {
 margin: 0;
 padding: 0;
 list-style: none;
}

.slider-item {
  display: flex;
}

.slider-item-2,
.slider-item-3 {
  display: none;
}

.slider-item-wrapper {
  width: 400px;
  margin-right: 30px;
}

.slider-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

}

.feature-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  padding-right: 60px;
  list-style: none;

/*временно для сетки*/
  min-height: 347px;
}

.feature-item {
  width: 300px;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;

  /*временно для сетки*/
  min-height: 455px;
}

.about-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-description {
  width: 660px;
}

.about-description h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-work {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-advantages {
  width: 360px;
}

.about-advantages img {
  display: block;
}

.advantage-slogan {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage-item span {
  font-size: 45px;
  line-height: 10,06px;
  font-weight: 700;
  color: #000000;
}

.advantage-item p {
  font-size: 16px;
  line-height: 18px;
}

.parthners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-catalog h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.main-catalog {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.filters .price {
  margin-bottom: 43px;
/*временно для сетки*/

  min-height: 220px;
}

.filters .grid {
  margin-bottom: 30px;
  /*временно для сетки*/

  min-height: 160px;
}

.filters .filter-features {
  margin-bottom: 40px;
  /*временно для сетки*/

  min-height: 250px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.selection-wrapper {
   display: flex;
   justify-content: space-between;
   margin-bottom: 54px;
}

.selection-title {
  width: 160px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog {
  width: 760px;
}

.catalog-selection {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.selection-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.selection-item a:hover,
.selection-item a:focus {
  opacity: 0.6;
}

.selection-item-active a,
.selection-item a:active {
  opacity: 1.0;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style: 0;
}

.catalog-item {
  margin-bottom: 33px;
  width: 360px;
  /*временно для сетки*/

  min-height: 616px;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
  color: #fb565a;
}

.catalog-item-title:active {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-information {
  display: none;
}

.catalog-item:hover .catalog-item-information,
.catalog-item:focus .catalog-item-information {
  display: block;
}

.catalog-item-information p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.catalog-item .button:active {
  color: #ffffff;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 460px;
  margin: 0;
  padding: 0;
  padding-right: 18px;
  list-style: none;

  /*временно для сетки*/
  min-height: 50px;
}

.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.main-footer {
  margin-top: 80px;
}

.footer-catalog {
 margin-top: 60px;
}

.contacts-block h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.contacts-block {
  width: 320px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;

/*временно для сетки*/
  min-height: 308px;
}

.footer-bottom-wrapper {
  display: flex;
}

.footer-social {
  display: flex;
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  list-style: none;
}

.footer-slogan b {
  width: 560px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.sale-slogan {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.modal {
  width: 960px;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.modal label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.modal input,
.modal textarea {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  outline: none;
}

.modal input:hover,
.modal textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal input:focus,
.modal textarea:focus {
  border: 2px solid #000000;
}

.modal input:focus::placeholder,
.modal textarea:focus::placeholder {
  color: rgba(68, 68, 68, 1.0);
}

.modal input:invalid,
.modal textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal button {
  border: none;
}




