*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {

  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
}

.button-red {
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
  background-color: #efc849;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.header-catalog {
  margin-bottom: 56px;
  padding-bottom: 110px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 49px;
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
}

.header-catalog .main-navigation {
  margin-bottom: 77px;
}

.main-header-logo {
  width: 160px;
}

.main-header-logo img {
  display: block;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 489px;
  list-style: none;
}

.site-navigation a,
.basket a {
  display: block;
  vertical-align: middle;
  padding-top: 26px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a {
  position: relative;
  margin-right: 23px;
  margin-left: 23px;
}

.basket {
  width: 160px;
  text-align: right;
}

.basket a {
  position: relative;
  padding-left: 41px;
}

.basket a::before {
  content: "";
  position: absolute;
  left: 45px;
  top: 33px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-active::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.slider {
  position: relative;
}

.slider-list {
 margin: 0;
 padding: 0;
 list-style: none;
}

.slider-item-2 {
  margin-top: -17px;
}

.slider-item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-item-2,
.slider-item-3 {
  display: none;
}

.slider-item-wrapper {
  width: 400px;
  margin-right: 30px;
  padding-top: 59px;
}

.slider-item-2 .slider-item-wrapper {
  width: 525px;
  height: 272px;
  margin-right: 0;
  margin-top: 17px;
}

.slider-item-3 .slider-item-wrapper {
  width: 418px;
  height: 271px;
  margin-right: 0;
  margin-top: 0;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.slider-item-2 p {
  padding-right: 85px;
}

.slider-item-wrapper .button {
  padding-left: 54px;
  padding-right: 55px;
}

.slider-item-2 img {
  margin-left: -20px;
}

.slider-item-3 img{
  margin-left: -15px;
}

.slider-pagination {
  position: absolute;
  bottom: 91px;
  left: 536px;
  z-index: 20;

  font-size: 0;
}

.slider-pagination label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;

  vertical-align: top;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-input:checked + label::before {
  content: "";
  position: absolute;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border: 2px solid #c2c2c2;
  background-color: transparent;
  border-radius: 50%;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  padding-right: 60px;
  list-style: none;

/*временно для сетки*/
  min-height: 347px;
}

.feature-item {
  width: 300px;
}

.feature-item img {
  display: block;
  margin-bottom: 24px;
}

.feature-item h3 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.feature-item p {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  padding-right: 25px;

}

.feature-item .button {
  padding-left: 40px;
  padding-right: 40px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  border-top: 2px solid #eeeeee;
}

.about-description b {
  display: block;
  margin-bottom: 33px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-description p {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.about-description {
  padding-top: 73px;
  width: 660px;
}

.about-description h3 {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-work {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-work li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 36px;
}

.about-work li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: #fb565a;
}

.about-advantages {
  width: 360px;
}

.about-advantages img {
  display: block;
  padding-top: 39px;
  margin-bottom: 36px;
}

.advantage-slogan {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
  padding-left: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage-item {
  margin-right: 21px;
}

.advantage-item span {
  display: block;
  margin-bottom: 36px;
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000000;
}

.advantage-item sup {
  font-size: 28px;
}

.advantage-item p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.parthners {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.parthners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.parthners-list li {
  position: relative;
}

.parthners-list li::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 64px;
  right: -21px;
  background-color: #eeeeee;
}

.parthners-list li:last-of-type::after {
  content: none;
}

.parthners-list a {
  display: block;
  opacity: 0.2;
}

.parthners-list a:hover,
.parthners-list a:focus {
  opacity: 1.0;
}

.parthners-list a:active {
  opacity: 0.1;
}

.parthners-list img {
  display: block;
}

.header-catalog h1 {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.main-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters {
  width: 260px;
}

.filters .price {
  margin-bottom: 57px;
}

.price {
  margin: 0;
  padding: 0;

  border: none;
}

.price legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-filter {
  width: 260px;
  margin-top: 45px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #eeeeee;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 140px;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  background-color: #eeeeee;

  border-radius: 5px;
  border: none;
}

.max-price {
  text-align: right;
}

.filters .grid {
  margin-bottom: 25px;
  padding: 0;
  border: none;
}

.filters .filter-features {
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 34px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  width: 25px;
  height: 25px;

  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: 8px;

  width: 9px;
  height: 9px;

  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: 0;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
}

.filter-input + label:hover::before,
.filter-input + label:hover::after,
.filter-input:focus + label::before,
.filter-input:focus + label::after {
  opacity: 1.0;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-input:disabled + label:hover::before {
  opacity: 0.3;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
  border: none;
  width: 260px;
  height: 50px;
  margin-top: -10px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.selection-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-bottom: 51px;
   width: 760px;
}

.selection-title {
  width: 160px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog {
  width: 760px;
}

.catalog-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 273px;
  margin: 0;
  margin-right: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.selection-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;
}

.selection-item a:hover,
.selection-item a:focus {
  opacity: 0.6;
}

.selection-item-active a,
.selection-item a:active {
  opacity: 1.0;
}

.selection-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 41px;
  margin-left: 46px;
}

.selection-button {
  cursor: pointer;
}

.selection-button path {
  background-color: #ededed;
  opacity: 0.2;
}

.selection-button:hover path,
.selection-button:focus path {
  fill: #a6a6a6;
  opacity: 1.0;
  }

.selection-button-active path,
.selection-button:active path {
  fill: #231f20;
  opacity: 1.0;
  }

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style: 0;
}

.catalog-item {
  position: relative;
  margin-bottom: 33px;
  width: 360px;
  list-style: none;
}

.catalog-item svg {
  display: block;
}

.catalog-item img {
  display: block;
}

.catalog-item path {
  fill: #e9e9e9;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-title span {
  display: block;
  margin: 0;
  margin-bottom: -4px;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
  color: #fb565a;
}

.catalog-item-title:active span {
  color: #000000;
  opacity: 0.3;
}

.catalog-item-information {
  position: absolute;
  display: none;
  padding-bottom: 43px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 7px;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-item:hover path,
.catalog-item:focus  path {
  fill: #4d4d4d;
}

.catalog-item:hover .catalog-item-information,
.catalog-item:focus .catalog-item-information {
  display: block;
}

.catalog-item-information p {
  margin: 0px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.catalog-item .button {
  padding-left: 60px;
  padding-right: 60px;
}

.catalog-item .button:active {
  color: #ffffff;
}


.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
  margin: 0;
  padding: 0;
  padding-right: 18px;
  list-style: none;
}

.pagination-item {
  display: block;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 14px;
  padding-bottom: 11px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
}

.pagination-item-next {
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 14px;
  padding-bottom: 12px;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  border: 3px solid #d5d5d5;
  border-top: 3px solid #bfbfbf;
}

.pagination-item-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.main-footer {
  margin-top: 80px;
  padding-bottom: 70px;
}

.footer-catalog {
 margin-top: 60px;
}

.contacts {
  position: relative;
  margin-bottom: 61px;
}

.contacts iframe {
  position: relative;
  z-index: 2;
  width: 100%;

  border: none;
}

.contacts .map-img {
  position: absolute;
  top: -16px;
  left: 0;
  z-index: 1;
}

.contacts-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 53px;
}

/*.contacts .container {
  position: absolute;
  top: 0;
  left: 0;
}*/

.contacts-block h3 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.contacts-block {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 49px;
  padding-bottom: 9px;
  width: 320px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  background-color: #ffffff;
  z-index: 2;
}

.contacts-block p {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-right: 10px;
}

.contacts-block a {
  display: block;
  margin-bottom: 39px;
}

.contacts-block .button {
  padding-left: 44px;
  padding-right: 44px;
}

.footer-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 78px;
  height: 78px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: #e37376;
}

.footer-slogan {
  padding-top: 6px;
}

.footer-slogan b {
  display: block;
  margin-bottom: 10px;
  width: 560px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.sale-slogan {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  display: none;
  padding-top: 67px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 84px;
  width: 960px;
  top: 50%;
  margin-top: -295px;
  left: 50%;
  margin-left: -480px;
  background-color: #ffffff;
  z-index: 50;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal h2 {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 25px
}

.modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  border: none;
  cursor: pointer;
  top: 78px;
  right: 90px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1.0;
}

.modal-close:active {
  opacity: 0.1;
}

.modal p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.modal .text-letter {
  width: 100%;
}

.modal label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.modal input,
.modal textarea {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  outline: none;
}

.modal textarea {
  height: 118px;
  margin-bottom: 34px;
  resize: none;
}

.modal input:hover,
.modal textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal input:focus,
.modal textarea:focus {
  border: 2px solid #000000;
}

.modal input:focus::-webkit-input-placeholder, .modal textarea:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1.0);
}

.modal input:focus::-moz-placeholder, .modal textarea:focus::-moz-placeholder {
  color: rgba(68, 68, 68, 1.0);
}

.modal input:focus:-ms-input-placeholder, .modal textarea:focus:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1.0);
}

.modal input:focus::-ms-input-placeholder, .modal textarea:focus::-ms-input-placeholder {
  color: rgba(68, 68, 68, 1.0);
}

.modal input:focus::placeholder,
.modal textarea:focus::placeholder {
  color: rgba(68, 68, 68, 1.0);
}

.modal input:invalid,
.modal textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal button {
  border: none;
}

.modal button[type=submit] {
  padding-left: 83px;
  padding-right: 83px;
}



